/* --- RESET E VARIÁVEIS --- */
:root {
    --text-light: #f4eacc;
    /* Cor de pergaminho claro para textos */
    --gold: #d4af37;
    --dark-bg: #111111;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
}
.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

body {
    margin: 0;
    font-family: 'Lora', serif;
    /* Fonte de leitura */
    background-color: var(--dark-bg);
    color: var(--text-light);
}

/* Fontes de Títulos e Botões */
h1,
h2,
h3,
header,
button {
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
}

header {
    display: flex;
    padding: 24px 0;
    background-color: #0a0a0a;
    border-bottom: 2px solid var(--gold);
    margin: 0;
    align-items: center;
}

header a {
    color: var(--gold);
    margin: 0;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    text-decoration: none;
}
header img {
    max-width: 48px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.line {
    border: none;
    /* Remove a linha cinza padrão e feia do navegador */
    height: 2px;
    /* Cria uma linha dourada que "desaparece" nas pontas (transparente -> dourado -> transparente) */
    background: linear-gradient(to right, transparent, var(--gold, #d4af37), transparent);
    margin: 60px auto;
    /* Dá um respiro grande em cima/baixo e centraliza */
    width: 80%;
    /* A linha não encosta nas bordas da tela */
    position: relative;
    /* Necessário para posicionar o losango no centro absoluto */
    overflow: visible;
    /* Permite que o losango "vaze" para fora da linha se for maior que 2px */
}
        /* background: linear-gradient(135deg, #2c1b4d 0%, #140c24 100%); */
.character-card {
    width: 80%;
        /* background: linear-gradient(to right, #2c2114, #3e2e1e); */
        padding: 60px 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 24px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.character-card img {
    height: 300px;
        width: 100%;
        /* Ocupa a coluna do grid corretamente */
        filter: grayscale(35%);
        transition: transform 200ms ease, filter 200ms ease;
        object-fit: contain;
        border-radius: 12px;
}

/* --- HERO SECTION --- */
.hero {
    /* Mantive o background escuro para destacar o brilho */
    /* background: linear-gradient(135deg, #2c1b4d 0%, #140c24 100%); */
    padding: 80px 10%;
    display: grid;
    /* 1fr 1fr é mais flexível que 50% 50%, dividindo o espaço restante igualmente */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    /* Garante que a imagem não cole no texto */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 75vh;
    /* Faz a seção ocupar pelo menos 75% da altura da tela */
}

.hero-content {
    text-align: center;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #a9a9a9;
    margin-bottom: 32px;
    line-height: 1.6;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

/* --- A ARTE E O EFEITO DE DESFOQUE --- */
.hero-art {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Necessário para posicionar o brilho de fundo */
}

/* O fundo brilhante desfocado atrás da imagem */
.hero-art::before {
    content: '';
    position: absolute;
    width: 125%;
    height: 125%;
    /* Cria uma "bola" de luz dourada que some nas bordas */
    background: radial-gradient(circle, rgba(206, 205, 205, 0.2) 0%, transparent 70%);
    filter: blur(50px);
    /* Aplica o desfoque pesado na luz */
    z-index: 0;
    /* Coloca a luz para trás */
}

.placeholder-imagem img {
    /* A imagem agora ocupa 100% da sua coluna, que é metade da tela */
    width: 100%;
    /* max-width: 1500px; */
    /* Limite para não estourar em monitores ultrawide */
    height: auto;
    position: relative;
    z-index: 1;
    /* Garante que a imagem fique na frente da luz */

    /* Outra opção de brilho: A sombra projetada (Drop Shadow) contornando a imagem */
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
    transform: scale(1.25);
    /* Um mimo extra para dar vida à arte */
    animation: flutuar 4s ease-in-out infinite;

}

.placeholder-imagem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-hero {
    background-color: #b82e1f;
    /* Vermelho épico */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-hero:hover {
    background-color: #d13a29;
    transform: translateY(-3px);
}

/* --- CHARACTERS SECTION --- */
.characters {
    margin: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.characters h2 {
    color: var(--gold);
}

/* --- SEARCH SECTION --- */
.search {
    padding: 60px 0;
    /* background: linear-gradient(135deg, #0f2e20 0%, #06140e 100%); */
    /* Verde místico */
    text-align: center;
}

.search h2 {
    color: var(--gold);
    margin-bottom: 40px;
}

.search-area {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
}

.search-option {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* Mais respiro entre botões */
}

/* Botões coloridos individuais */
.btn-option {
    width: 90%;
    padding: 14px 20px;
    border: none;
    border-radius: 0 12px 12px 0;
    /* Arredondamento suave */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    /* Texto alinhado à esquerda na aba fica mais elegante */
    transition: all 0.3s ease;
    /* opacity: 0.7; */
    /* Opacos quando não ativos */
}

.transparent {
    background-color: transparent;
}

/* Cores por categoria */
.color-classes {
    background-color: #8b0000;
    background: linear-gradient(135deg, #4a1515 0%, #220808 100%);
    background-color: #4a1515;
}

/* Guerreiro Vermelho */
.color-especies {
    background-color: #228b22;
    background: linear-gradient(135deg, #0f2e20 0%, #06140e 100%);
}

/* Natureza Verde */
.color-magias {
    background: linear-gradient(135deg, #2c1b4d, #140c24 100%);
}

/* Arcano Índigo */
.color-criaturas {
    background-color: #d2691e;
    background: linear-gradient(to right, #2c2114, #3e2e1e);
}

/* Monstro Laranja */
.color-itens {
    background-color: #b8860b;
}

/* Tesouro Ouro */

.btn-option:hover,
.btn-option.active {
    width: 100%;
    /* O botão expande um pouco ao passar o mouse */
    opacity: 1;
    /* Fica com cor viva */
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
}

.search-bar {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.search-bar label {
    font-size: 1.2rem;
}

.input-container {
    display: flex;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    overflow: hidden;
    border-bottom: 1px solid var(--gold);
    border-bottom: 1px solid var(--gold);
    /* Mantém os cantos arredondados contendo os filhos */
}

.input-container input {
    flex: 1;
    padding: 16px;
    border: none;
    font-size: 1.1rem;
    font-family: 'Lora', serif;
    background-color: #f4eacc;
    /* Fundo cor de pergaminho */
    color: #111;
}

.input-container input:focus {
    outline: none;
    background-color: #ffffff;
}

.input-container button {
    padding: 16px 24px;
    border: none;
    background-color: var(--gold);
    color: #111;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.input-container button:hover {
    background-color: #f2ce5c;
}

.grid-spacer {
    grid-column: 3;
}

/* --- CONTACT SECTION (FORMULÁRIO) --- */
.contact {
    /* background: linear-gradient(135deg, #4a1515 0%, #220808 100%); */
    /* Vermelho escuro/taverna */
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-container {
    display: grid;
    grid-template-columns: 40% 1fr;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    color: var(--gold);
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 30px;
}

/* Estilização focada em UX */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(135deg, #4a1515 0%, #220808 100%);
    /* Caixa de fundo translúcida */
    padding: 32px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha Label e Input à esquerda */
    gap: 8px;
    width: 100%;
}

.form-fields label {
    font-weight: bold;
    font-size: 0.95rem;
    color: var(--text-light);
}

.form-fields input,
.form-fields textarea {
    width: 100%;
    box-sizing: border-box;
    /* Impede que o input vaze a div */
    padding: 14px;
    border: 2px solid #333;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Lora', serif;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-fields input:focus,
.form-fields textarea:focus {
    outline: none;
    border-color: var(--gold);
    /* Destaca o campo em uso */
}

.form-fields textarea {
    resize: vertical;
    /* Permite aumentar apenas a altura do campo */
}

#btn-search {
    /* background-color: #8b0000;
    background: linear-gradient(135deg, #4a1515 0%, #220808 100%);
    background-color: #4a1515; */
    color: white;
}

.btn-submit {
    margin-top: 10px;
    background-color: var(--gold);
    color: #111;
    border: none;
    padding: 16px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-submit:hover {
    background-color: #f2ce5c;
    transform: scale(1.02);
}

/* --- FOOTER --- */
footer {
    background-color: #050505;
    padding: 40px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    text-align: center;
    border-top: 2px solid #222;
    font-size: 0.9rem;
    color: #888;
}

.navbar {
    display: flex;
    gap: 120px;
    align-items: center;
    margin: auto;
}

.classes-card {
    background: linear-gradient(135deg, #4a1515 0%, #220808 100%);
    margin: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 24px;
    align-items: center;
}

.spells-card {
    background: linear-gradient(135deg, #2c1b4d, #140c24 100%);
    margin: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 24px;
    align-items: center;
}

.monsters-card {
    background: linear-gradient(to right, #2c2114, #3e2e1e);
    margin: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 24px;
    align-items: center;
}

.items-card {
    background: linear-gradient(135deg, #0f2e20 0%, #06140e 100%);
    margin: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 24px;
    align-items: center;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #ffffff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.arrow-btn:hover {
    background: #000000;
    color: #ffffff;
}

/* Alinhamento das setas nas bordas do card */
.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.card-content {
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
}

.char-info {
    display: flex;
        flex-direction: column;
        align-items: center;
        /* Centraliza todos os blocos filhos horizontalmente */
        text-align: center;
        /* Centraliza os textos internos */
        width: 100%;
}

.skills {
    display: flex;
    gap: 12px;
    justify-content: center;
    /* Centraliza a lista de atributos (FOR, DES...) */
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    /* Evita que os atributos quebrem o layout em telas menores */
}

.skill-value {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    /* Um fundo sutil para os atributos */
    padding: 6px 10px;
    border-radius: 8px;
}

.description {
    text-align: center;
    max-width: 90%;
    /* Evita que o texto encoste nas bordas */
    margin-top: 10px;
    color: #e0e0e0;
}

.char-class {
    display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: center;
        /* Centraliza as linhas de classe e nível */
        margin-bottom: 8px;
}